In [104]:
import pandas as pd
file = open('data.txt', encoding="utf8")
file1 = open('data_ssg.txt', encoding="utf8")

In [105]:
df = pd.read_csv(file, sep="delimiter", engine='python')

df1 = pd.read_csv(file1, sep="delimiter", engine='python')

In [106]:
# #convert txt to csv
# df.to_csv(r"C:\Users\Admin\Desktop\Lab\W3\cvt.csv", index=None)

In [107]:
#set name for column
# df.columns = ["meh"]

# get column names
print(df.columns)

#numbers of rows and cols
print(df.shape)

Index(['{'], dtype='object')
(13, 1)

In [108]:
df1.columns = ["meh1"]

df1

                                                   meh1
0     {"link": "https://www.sosanhgia.com/p2884-macb...
1     {"link": "https://www.sosanhgia.com/p5498-macb...
2     {"link": "https://www.sosanhgia.com/p39528-mac...
3     {"link": "https://www.sosanhgia.com/p167163-ma...
4     {"link": "https://www.sosanhgia.com/p37449-mac...
...                                                 ...
2808  {"link": "https://www.sosanhgia.com/p7434-may-...
2809  {"link": "https://www.sosanhgia.com/p22608-man...
2810  {"link": "https://www.sosanhgia.com/p206847-da...
2811  {"link": "https://www.sosanhgia.com/p30270-muc...
2812  {"link": "https://www.sosanhgia.com/p108947-di...

[2813 rows x 1 columns]

In [109]:
#get row 1st, 2nd
df.loc[[0,1]]

                                                   {
0  "link": "https://www.sosanhgia.com/p186133-lap...
1  "category": ["Máy tính - Thiết bị VP", "Laptop...

In [110]:
df1.loc[0]

meh1    {"link": "https://www.sosanhgia.com/p2884-macb...
Name: 0, dtype: object

In [111]:
df_dict = pd.DataFrame.from_dict(df)

In [112]:
df_dict

                                                    {
0   "link": "https://www.sosanhgia.com/p186133-lap...
1   "category": ["Máy tính - Thiết bị VP", "Laptop...
2   "name": "Laptop HP Pavilion 15-CS3060TX 8RJ61PA",
3   "img_url": "https://img.sosanhgia.com/images/5...
4                                      "brand": "HP",
5   "short_desc": "Bộ VXL: Core i5 1035G1 1.0Ghz-...
6                     "priority_price": "17.100.000",
7                         "priority_store": "Shopee",
8                               "num_of_product": 19,
9                                 "num_of_store": 14,
10                      "lowest_price": "16.790.000",
11                      "highest_price": "18.290.000"
12                                                  }